/* @group Module: NavigationMain */
@import "mixins.less";

@media print {
    .modComposerDialog {
        display: none;
    }
}

@media screen {

    .modComposerDialog {
        overflow: hidden;
    }

    .modComposerDialog {
        .sidebar {
            float: left;
            width: 3.75em;
            background: #464646;
        }

        .content {
            border-left: 3.75em solid #464646;
            padding: 1.875em;
        }

        .noSidebar {
            border-left: none;
        }

        /* Content Loader */
        .loader {
            display: none;
            position: absolute;
            right: 2em;
            top: 2em;
        }

        /* Validation Message */
        form li {
            color: #DE002F;
            display: block;
            padding-left: 0.5em;
        }

        /* Notice */
        .notice {
            padding: 0 1em 1em;
            color: #3fae5d;
        }

        /* Forms */
        form div {
            padding: 0.25em 0.5em;
        }

        label {
            display: block;
            padding: 0.25em 0.5em;
        }

        .radios label {
            display: inline-block;
            padding-right: 1em;
        }

        .actions {
            padding: 1em 0.5em 0.5em;
        }

        input[type="text"] {
            margin-bottom: 0.75em;
            padding: 0.25em;
            width: 16em;
        }

        .button::-moz-focus-inner {
            border: 0;
        }

        .button {
            background: #e3e3e3;
            border: 1px solid #bbb;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            .box-shadow(inset 0 0 1px 1px #f6f6f6);
            color: #333;
            font-size: 0.75em;
            line-height: 1em;
            padding: 0.66666666em 3em 0.75em;
            text-align: center;
            text-shadow: 0 1px 0 #fff;
        }

        .button:hover {
            background: #d9d9d9;
            .box-shadow(inset 0 0 1px 1px #eaeaea);
            color: #222;
            cursor: pointer;
        }

        .button:active {
            background: #d0d0d0;
            .box-shadow(inset 0 0 1px 1px #e3e3e3);
            color: #000;
        }
        
        .results {
            margin: 1em 0 1em -0.5em;
            max-height: 60%;
        }

        .results {

            li {
                padding-left: 0.5em;
            }

            li:hover, li:active {
                .gradient(#3c3c3c, #3c3c3c, #393939);
                .box-shadow(inset 0px 0px 5px 1px #2b2b2b);
                text-shadow: 0 1px 1px #353535;
            }

            /* Icons */
            .icon {
                color: #696c69;
                display: block;
                font-size: 0.875em;
                letter-spacing: 0.03em;
                line-height: 1em;
                text-decoration: none;
                padding: 0.7em 0.5em 0.8em 35px;
                background: transparent url('/bundles/terrificcomposer/images/icons.png') no-repeat left 0;
            }

            li:hover .icon {
                 color: #efefef;
            }

            .module {
                background-position: 0 -394px;
            }

            .module:hover, .active .module {
                background-position: 0 -494px;
            }
        }

        .sidebar {
            /* Sidebar Buttons */
            li {
                border-width: 0 0 1px 0;
                border-color: #2a2a2a;
                border-style: solid;
            }

            li:hover, li.active {
                .gradient(#3c3c3c, #3c3c3c, #393939);
                .box-shadow(inset 0px 0px 5px 1px #2b2b2b);
            }

            /* Sidebar Icons */
            .icon {
                display: block;
                font-size: 0.75em;
                letter-spacing: 0.03em;
                line-height: 1em;
                text-align: center;
                width: 4em;
                height: 1em;
                color: #696c69;
                text-shadow: 0 1px 1px #313131;
                text-decoration: none;
                padding: 3.2em 0.5em 0.8em 0.5em;
                background: url('/bundles/terrificcomposer/images/icons.png') no-repeat left 0;
            }

            .icon:hover, .active .icon {
                color: #a3a3a3;
                text-shadow: 0 1px 1px #353535;
            }

            .module {
                background-position: 50% -390px;
            }

            .module:hover, .active .module {
                background-position: 50% -490px;
            }

            .skin {
               background-position: 50% -590px;
            }

            .skin:hover, .active .skin {
               background-position: 50% -690px;
            }

            .page {
               background-position: 50% -790px;
            }

            .page:hover, .active .page {
               background-position: 50% -890px;
            }
        }
    }
}
/* @end */
