/* @group Module: ComposerToolbar */
@import "mixins.less";

@media print {
    .modComposerToolbar {
        display: none;
    }
}

@media screen {

    .modComposerToolbar {
        position: fixed;
        top: 100px;
        right: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        z-index: 10000;
    }

    .modComposerToolbar {

        ul {
            position: relative;
        }

        li {
            margin-top: 1px;
            .box-shadow(0 2px 12px rgba(0,0,0,0.07) inset);
            .gradient(#fff, #fff, #efefef);
        }

        li:hover, li.active {
            .box-shadow(0 2px 12px rgba(0,0,0,0.52) inset);
            .gradient(#999999, #999999, #444444);
        }

        /* Icons */
        .icon {
            display: block;
            font-size: 0.75em;
            letter-spacing: 0.03em;
            line-height: 1em;
            text-align: center;
            width: 4em;
            height: 1em;
            color: #999999;
            text-decoration: none;
            padding: 3.2em 0.5em 0.8em 0.5em;
            background: url('/bundles/terrificcomposer/images/icons.png') no-repeat left 0;
        }

        .icon:hover, .active .icon {
            color: #a3a3a3;
            text-shadow: 0 1px 1px #353535;
        }

        .create {
           background-position: 50% 10px;
        }

        .create:hover {
           background-position: 50% -90px;
        }

        .open {
           background-position: 50% -190px;
        }

        .open:hover {
           background-position: 50% -290px;
        }

        .look {
           background-position: 50% -987px;
        }

        .look:hover, .active .look {
           background-position: 50% -1087px;
        }

    }

    .composerModule {
        display: block;
        border: 1px solid #333;
        background: #fff;
        opacity: 0.8;
        .box-shadow(0 3px 10px rgba(0,0,0,0.4));
        font: 12px/1.2em 'Helvetica Neue', Helvetica, Arial, sans-serif;
        letter-spacing: 0.03em;
        min-height: 2.2em;
        outline: none;
        .transition(all 0.4s ease-in-out);
     }

     .composerModule:hover {
        background: #444;
     }

    .composerModule span {
        display: inline-block;
        background: #000;
        color: #efefef;
        padding: 0.4em 0.5em 0.6em 0.5em;
        vertical-align: top;
        .transition(all 0.4s ease-in-out);
    }

    .composerModule:hover span {
        color: #000;
        background: #efefef;
    }
}
/* @end */
