{% javascripts
              '@TerrificComposerBundle/Resources/public/js/*'
              output='js/compiled/terrificcomposer.js'
           %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% stylesheets
        '@TerrificComposerBundle/Resources/public/css/*'
        output="css/compiled/terrificcomposer.css"
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<div class="mod modComposerToolbar">
    <ul>
        <li><a href="{{ path('composer_create_module')}}" class="icon create"><span>Create</span></a></li>
        <li><a href="{{ path('composer_search')}}" class="icon open"><span>Open</span></a></li>
        <li class="last"><a href="#" class="icon look"><span>Look</span></a></li>
    </ul>
</div>
<span class="composerLoader"><img src="/bundles/terrificcomposer/images/loader.gif" alt="" /></span>
<div class="modal composerModal">
    <div class="overlay">
        <div class="dialog"></div>
        <a title="close" href="#close"><span>Close</span></a>
    </div>
</div>


